<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!--  Display flash messages if any
     The `masg` variable is passed from the server to the view -->
    <%= successMsg%>
    <%= errorMsg%>
    <h1>Hello <%= name %></h1>
</body>
</html>